// COLORS

.bg-color-1 {
  background-color: $color-primary;   
}
.bg-color-2 {
  background-color: $color-secondary;
}
.bg-color-3 {
  background-color: $color-tertiary;   
}

.bg-color-alt-lightest {
  background-color: $alt-color-lightest;
}