.container {
  padding: 0 20px;
  margin: auto;
  max-width: 900px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--game {
  width: 100%;
}


.poll {
  width: 50%;
  margin: auto;
  
  display: flex;
  justify-content: center;
}
.mail {
  width: 50%;
  margin: 50px auto;
  margin-top: 10px;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myMail {
  margin: auto;
}
