.container {
  padding: 0 20px;
  margin: auto;
  max-width: 900px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poll {
  width: 50%;
  margin: auto;
  
  display: flex;
  justify-content: center;
}
.mail {
  width: 50%;
  margin: 50px auto;
    
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myMail {
  margin: auto;
}
.textMe{
  margin: auto;
}