.grid  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 10px yellow;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.w-1\/3 {
   width: 33.333%;
}
