{% include header.html %}

        <section class="">
          <div class="container">
            <div class="poll box">
              <form method="post" action="">
                <p>Do you like my web site ?</p><br />
                  <input type="checkbox" name="love" id="love" /><label for="love">♥️</label>
                  <input type="checkbox" name="like" id="like" /><label for="like">😍</label>
                  <input type="checkbox" name="good" id="good" /><label for="good">😊</label>
                  <input type="checkbox" name="better" id="better" /><label for="better">😐</label>
                  <input type="checkbox" name="notGood" id="notGood" /><label for="notGood">👎</label>
              </form>
            </div>
            <div class="mail box">
              
              <div class="textMe ">
                If you want text me, you can write me a mail 😌
              </div><br />
              
              <div class="myMail">
                My mail: sofia.desousa@liip.ch
              </div>
              
            </div>
          </div>    
        </section>

{% include footer.html %}